<div class="right-container">
  <h1>Favorites</h1>
  <hr>
  <div class="rants">
    <% current_user.favorites.each do |favorite| %>
      <div class="rant" id="<%= favorite.rant.id %>">
        <div>
          <div class="rant-user-info">
            <h2>
              <%= link_to favorite.rant.user.first_name, user_path(favorite.rant.user), class: "first-name" %>
            </h2>
            <%= image_tag image_path(favorite.rant.user), alt: 'No Image' %>
          </div>
          <%= link_to user_rant_path(favorite.rant.user, favorite.rant), class: "rant-body" do %>
            <%= favorite.rant.truncated_body %>
          <% end %>
        </div>
        <div class="rant-buttons">
          <% if current_user.following?(favorite.rant.user.id) %>
            <%= link_to "Unfollow", unfollow_path(favorite.rant.user), class: "unfollow-button" %>
          <% else %>
            <%= link_to "Follow", follow_path(favorite.rant.user), class: "follow-button" %>
          <% end %>
          <%= link_to "Unfavorite", user_rant_favorite_path(favorite.rant.user, favorite.rant, favorite), method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
</div>