<div class="admin-container">
  <h1>Rants</h1>

  <div class="admin-rant-filters">
    <div>
      <%= link_to 'All', admin_rants_path, class: "filter #{(on_admin_spam_page? ? '' : 'active')}" %><%= link_to 'Spam', admin_spam_path, class: "filter #{(on_admin_spam_page? ? 'active' : '')}" %>
    </div>
    <%
       if on_admin_rants_page?
         url = admin_rants_path
       else
         url = admin_spam_path
       end
    %>
    <%= form_tag url, method: 'get' do %>
      <div>
        <%= text_field_tag :starts_on, '  /   /    ', class: 'datepicker' %>
      </div>
      <h3>To</h3>

      <div>
        <%= text_field_tag :ends_on, '  /   /    ', class: 'datepicker' %>
      </div>
      <%= submit_tag "Filter", class: 'filter' %>
    <% end %>
  </div>
  <table class="admin-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @rants.each do |rant| %>
      <tr>
        <td><%= full_name(rant.user) %></td>
        <td><%= rant.user.username %></td>
        <td><%= rant.subject %></td>
        <td>
          <%= render partial: 'admin_rants_actions', locals: {rant: rant} unless rant.spam %>
          <%= render partial: 'admin_spam_actions', locals: {rant: rant} if rant.spam %>
        </td>
      </tr>
    <% end %>
    <% remaining_table_row_count(@rants).each do |row| %>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
