<div class="admin-container">
  <h1>Users</h1>
  <table class="admin-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th class="rant-count-header">
        Number of Rants
        <%= link_to (fa_icon 'caret_up'), admin_users_path(sort_asc: false) if params[:sort_asc] %>
        <%= link_to (fa_icon 'caret-down'), admin_users_path(sort_asc: true) unless params[:sort_asc] %>
      </th>
      <th class="disabled">Disabled</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= full_name(user) %></td>
        <td><%= user.username %></td>
        <td><%= user.number_of_rants %></td>
        <td> <%= '✓' if user.disabled? %></td>
        <td>
          <%= link_to 'Disable', admin_disable_path(user) unless user.disabled? %>
          <%= link_to 'Enable', admin_enable_path(user) if user.disabled? %>
        </td>
      </tr>
    <% end %>
    <% remaining_table_row_count(@users).each do |row| %>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>