<%= form_for @user do |f| %>
  <div class="main-form">
    <% f.object.errors.full_messages.each do |error| %>
      <div class="errors">
        <%= error %>
      </div>
    <% end %>
    <div class="name-inputs">
      <div>
        <div>
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>
        <div>
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
      </div>
      <div>
        <div>
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
        <div>
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
      </div>
    </div>
    <div>
      <%= f.label :bio %>
      <%= f.text_area :bio, rows: "8" %>
    </div>
    <p>How often do you rant?</p>

    <div class="frequency-container">
      <div>
        <%= f.radio_button :rant_frequency, :daily %>
        <%= f.label :rant_frequency_daily, "Daily" %>
      </div>
      <div>
        <%= f.radio_button :rant_frequency, :weekly %>
        <%= f.label :rant_frequency_weekly, "Weekly" %>
      </div>
      <div>
        <%= f.radio_button :rant_frequency, :monthly %>
        <%= f.label :rant_frequency_monthly, "Monthly" %>
      </div>
    </div>
    <div>
      <%= f.label :image %>
      <%= f.file_field :image, multiple: true %>
    </div>
  </div>
  <div class="submit">
    <%= f.submit class: "button" do %>
    <% end %>
  </div>
<% end %>
