<div class="right-container">
  <h1><%= full_name(@user) %></h1>
  <% unless is_me?(@user) %>
    <% if current_user.following?(@user.id) %>
      <%= link_to "Unfollow", unfollow_path(@user), class: "unfollow-button" %>
    <% else %>
      <%= link_to "Follow", follow_path(@user), class: "follow-button" %>
    <% end %>
  <% end %>
  <hr>
  <div class="user-profile-info">
    <%= image_tag image_path(@user), alt: 'No Image' %>

    <div>
      <%= @user.rant_frequency.capitalize %> Ranter
    </div>
  </div>
  <div class="user-profile-bio">
    <p>
      <%= @user.bio %>
    </p>
  </div>
  <div class="user-profile-rants">
    <% @user.rants_sorted_by_favorites.each do |rant| %>
      <div class="rant user-profile-rant"
           id="<%= rant.id %>"
           data-user="<%= rant.user.id %>"
           data-rant="<%= rant.id %>"
           data-fav-count="<%= rant.favorite_count %>"
      >
        <h2><%= rant.subject %></h2>
        <%= link_to user_rant_path(@user, rant), class: "rant-body" do %>
          <p>
            <%= rant.body_truncated_if_needed %>
          </p>
        <% end %>
        <% if rant.get_favorite(current_user) %>
          <%= link_to "#{rant.favorite_count} - Unfavorite", '#', class: 'unfavorite-button' %>
        <% else %>
          <%= link_to "#{rant.favorite_count} - Favorite", '#', class: 'favorite-button' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>