<div class="right-container">
  <h1><%= full_name(@user) %></h1>
  <%= link_to "Follow", "javascript:void(0)", class: "favorite-button" %>
  <hr>
  <div class="user-profile-info">
    <img src="https://pbs.twimg.com/profile_images/479692669505916928/1gNBxBfY.jpeg"/>

    <div>
      <h1><%= @user.rant_frequency %> Ranter</h1>
    </div>
  </div>
  <div class="user-profile-bio">
    <p>
      <%= @user.bio %>
    </p>
  </div>
  <div class="user-profile-rants">
    <% @user.rants.each do |rant| %>
      <div class="user-profile-rant">
        <h4><%= rant.subject %></h4>

        <p>
          <%= rant.body %>
        </p>
        <%= link_to "Favorite" %>
      </div>
    <% end %>
  </div>
</div>