  <div class="errors"></div>
  <%= label_tag :subject, 'A rant about:' %>
  <%= text_field_tag :subject, nil, autofocus: true, class: 'rant-subject'  %>
  <%= label_tag :body, 'Rant:' %>
  <%= text_area_tag :body, nil, rows: "14", placeholder: 'Rant about something or at someone...', class: 'rant-body' %>
  <%= submit_tag 'RANT', class: 'button new-rant', data: {user_id: current_user.id} %>
