<%= form_for [current_user, new_rant] do |f| %>
  <% f.object.errors.full_messages.each do |error| %>
    <div class="errors">
      <%= error %>
    </div>
  <% end %>
  <%= f.label :subject, "A rant about:" %>
  <%= f.text_field :subject %>
  <%= f.label :body, "Rant:" %>
  <%= f.text_area :body, rows: "14", placeholder: "Rant about something or at someone..." %>
  <%= f.submit "RANT", class: "button" %>
<% end %>