<div class="right-container">
  <h1><%= @rant.subject %></h1>
  <% if @rant.get_favorite(current_user) %>
    <%= link_to "Unfavorite", user_rant_favorite_path(current_user, @rant, @rant.get_favorite(current_user)), method: :delete, class: "favorite-button" %>
  <% else %>
    <%= link_to "Favorite", user_rant_favorites_path(current_user, @rant), method: :post, class: "favorite-button" %>
  <% end %>
  <hr>
  <div class="rant-container">
    <div class="rant-user">
      <%= link_to @rant.user.first_name, user_path(@rant.user) %>
      <img src="https://pbs.twimg.com/profile_images/479692669505916928/1gNBxBfY.jpeg">
    </div>
    <p>
      <%= @rant.body %>
    </p>
  </div>
</div>