<div class="right-container">
  <h1><%= @rant_dashboard.rant.subject %></h1>
  <% if @rant_dashboard.rant.get_favorite(current_user) %>
    <%= link_to "#{@rant_dashboard.rant.favorite_count} - Unfavorite", user_rant_favorite_path(@rant_dashboard.rant.user, @rant_dashboard.rant, @rant_dashboard.rant.get_favorite(current_user)), method: :delete, class: "favorite-button" %>
  <% else %>
    <%= link_to "#{@rant_dashboard.rant.favorite_count} - Favorite", user_rant_favorites_path(@rant_dashboard.rant.user, @rant_dashboard.rant), method: :post, class: "favorite-button" %>
  <% end %>
  <hr>
  <div class="rant-container">
    <div class="rant-user">
      <%= image_tag image_path(@rant_dashboard.rant.user), alt: 'No Image' %>
    </div>
    <div class="rant-options">
      <h2>by <%= link_to full_name(@rant_dashboard.rant.user), user_path(@rant_dashboard.rant.user) %></h2>

      <div>
        <%= link_to 'Spam', spam_path(@rant_dashboard.rant.id), class: 'spam' %>
        <%= link_to 'Tweet',
                    'https://twitter.com/share',
                    class: 'tweet twitter-share-button',
                    data: {
                      text: "Check out my Rant about #{@rant_dashboard.rant.subject} ",
                      count: 'none',
                      size: 'large'
                    } %>
      </div>
    </div>
    <p>
      <%= markdown(@rant_dashboard.rant.body) %>
    </p>
  </div>
  <hr class="rant-separator">
  <div class="comments">
    <% @rant_dashboard.rant.comments.each do |comment| %>
      <div class="comment">
        <%= image_tag image_path(comment.user) %>
        <%= comment.body %>
      </div>
    <% end %>
  </div>
  <div class="new-comment">
    <%= form_for @rant_dashboard.new_comment, url: user_rant_comments_path(current_user, @rant_dashboard.rant) do |f| %>
      <%= f.text_field :body %>
      <%= f.submit 'RANT BACK', class: 'button' %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  window.twttr = (function (d, s, id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = {_e: [], ready: function (f) {
      t._e.push(f)
    }})
  }(document, "script", "twitter-wjs"));
</script>

