<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="title"><%= link_to 'Rant.ly', root_path %></div>
  <% if you_are_admin? %>
  <nav>
    <div>
      <%= link_to 'Dashboard', admin_dashboard_path, class: (on_admin_dashboard_page? ? 'active' : '') %>
    </div>
    <div>
      <%= link_to 'Rants', admin_rants_path, class: (on_admin_rants_page? ? 'active' : '') %>
    </div>
    <div>
      <%= link_to 'Users', admin_users_path, class: (on_admin_users_page? ? 'active' : '') %>
    </div>
  </nav>
  <div class="session-buttons">
    <%= link_to 'LOGOUT', signout_path, class: 'button' %>
  </div>
  <% elsif current_user %>
    <nav>
      <div>
        <%= link_to 'Dashboard', root_path, class: (on_dashboard_page? ? 'active' : '') %>
      </div>
      <div>
        <%= link_to 'Following', user_followings_path(current_user), class: (on_followings_page? ? 'active' : '') %>
      </div>
      <div>
        <%= link_to 'Favorites', favorites_path(current_user), class: (on_favorites_page? ? 'active' : '') %>
      </div>
      <div>
        <%= link_to 'Search', new_search_path, class: (on_search_page? ? 'active' : '') %>
      </div>
    </nav>
    <div class="session-buttons">
      <%= link_to 'LOGOUT', signout_path, class: 'button' %>
    </div>
  <% else %>
    <div class="session-buttons">
      <div><%= link_to 'Login', signin_path %></div>
      <%= link_to new_user_path do %>
        <div class="button">Join</div>
      <% end %>
    </div>
  <% end %>
</header>
<% if flash[:notice] %>
  <div class="flash"><%= flash[:notice] %></div>
<% end %>
<div class="main">
  <%= render partial: 'dashboard/left_container' if current_user && !on_user_edit_page? && !you_are_admin? %>
  <%= yield %>
</div>
</body>
</html>
